* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: hsl(0, 0%, 100%);
  transition: all 0.3s ease-in-out;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  align-items: center;
  padding: 1.5rem 8rem;
  font-size: 14px;
  box-shadow: inset 0.5px -0.5px 3px 0.5px hsl(200, 15%, 8%),
    0.5px -0.5px 3px 0.5px hsl(200, 15%, 8%);
}
.main {
  background-color: hsl(207, 26%, 17%);
  padding: 1.5rem 8rem;
}
.mode {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 0.5rem;
  font-weight: 800;
  cursor: pointer;
}
.mode img {
  width: 1.5rem;
  height: 1.5rem;
}
.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-filter img {
  width: 1.5rem;
  height: 1.5rem;
}
.search {
  display: flex;
  align-items: center;
  background-color: hsl(209, 23%, 22%);
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  font-weight: 500;
}
input {
  outline: none;
  background-color: hsl(209, 23%, 22%);
  border: none;
  width: 20rem;
  padding-left: 1rem;
}
::placeholder {
  color: white;
}
.filter {
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: 600;
}
.filter-header {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  gap: 2rem;
  padding: 0.7rem 1rem;
  background-color: hsl(209, 23%, 22%);
  align-items: center;
}
.filter-header img {
  transform: rotate(180deg);
}
.filter-properties {
  position: absolute;
  overflow: hidden;
  top: 2rem;
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 14px;
  opacity: 0;
  max-height: 0rem;
  padding: 0rem 1rem;
}
.filter-properties p {
  cursor: pointer;
}
.open img {
  transform: rotate(0deg);
}
.open .filter-properties {
  padding: 0.7rem 1rem;
  opacity: 1;
  max-height: 10rem;
  top: 3.2rem;
}
.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.9rem;
  margin-top: 2rem;
}
.country {
  display: flex;
  width: max-content;
  flex-direction: column;
  cursor: pointer;
}
.country img {
  width: 16rem;
  height: 10rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.country-properties {
  width: 256px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: hsl(209, 23%, 22%);
  font-size: 14px;
  gap: 0.1rem;
  padding: 1rem;
}
.country-properties p {
  margin-bottom: 0.5rem;
}
.detail {
  background-color: hsl(207, 26%, 17%);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 8rem;
  height: 100vh;
}
button {
  background-color: hsl(209, 23%, 22%);
  border: none;
  outline: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  width: max-content;
  display: flex;
  align-items: center;
  box-shadow: 1px -1px 2px 2px hsl(200, 15%, 8%);
}
button img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}
.country-detail {
  display: flex;
  gap: 7rem;
  align-items: center;
}
.country-detail img {
  width: 35rem;
  height: 20rem;
}
.details-name {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.parts-details {
  display: flex;
  gap: 7rem;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.details span {
  color: hsl(0, 0%, 78%);
}
.properties-teg {
  font-weight: 600;
  color: white !important;
}
.others {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.other-country {
  display: flex;
  gap: 0.5rem;

  background-color: hsl(209, 23%, 22%);
  padding: 0.2rem 2rem;
}
.other-country span {
  color: hsl(0, 0%, 78%);
}
.light * {
  color: hsl(200, 15%, 8%);
}
.light button {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
}
.light .other-country {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
}
.light .other-country span {
  color: rgb(17, 21, 23);
}
.light .details span {
  color: unset;
}
.light .properties-teg {
  color: unset !important;
}
.light .navbar {
  box-shadow: inset 2px 0px 1px 0px hsl(0, 0%, 52%),
    0.5px -0.5px 3px 0.5px hsl(0, 0%, 52%);
  background-color: hsl(0, 0%, 98%);
}
.light .main {
  background-color: hsl(0, 0%, 98%);
}
.light .detail {
  background-color: hsl(0, 0%, 98%);
}
.light .search {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
}
.light ::placeholder {
  color: hsl(0, 0%, 52%);
}
.light input {
  background-color: hsl(0, 0%, 100%);
}
.light .filter-header {
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
  background-color: hsl(0, 0%, 100%);
}
.light .filter-properties {
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
  background-color: hsl(0, 0%, 100%);
}
.light .country-properties {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
}
.light .country {
  box-shadow: 2px 1px 5px -1px hsl(0, 4%, 73%);
}
@media (max-width: 376px) {
  .countries {
    display: flex;
    flex-direction: column;
  }
  .main,
  .navbar {
    padding: 1.5rem 1rem;
  }
  h1 {
    font-size: 15px;
  }
  input {
    width: 17rem;
  }
  .search-filter {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: baseline;
  }
  .detail {
    padding: 3rem 1.5rem;
    gap: 5rem;
    height: max-content;
  }
  .countries {
    align-items: center;
  }
  .country-detail {
    flex-direction: column;
    gap: 3rem;
  }
  .country-detail img {
    width: 20.5rem;
    height: 15rem;
  }
  .parts-details {
    flex-direction: column;
    gap: 2.5rem;
  }
  .others {
    margin-top: 2rem;
    margin-bottom: 3rem;
    align-items: baseline;
  }
  .others .properties-teg {
    flex-basis: 100%;
  }
}
.hidden {
  display: none;
}
